In [21]:
import networkx as nx
import pandas as pd

# Loading Data

In [22]:
df = pd.read_csv('./hero-network.csv')

# Analysis

In [23]:
df.hero1.unique().shape

(6211,)

In [24]:
df.hero1.unique().shape

(6211,)

In [27]:
for i in range(df.shape[0]):
    df.iloc[i,:]
    []
    print(df.iloc[i,:])
    break

hero1     LITTLE, ABNER
hero2    PRINCESS ZANDA
Name: 0, dtype: object

In [29]:
a = df.iloc[i,:]

In [43]:
df.loc[(df.hero1 == a.hero2) & (df.hero2 == a.hero1), :]

                hero1          hero2
22     PRINCESS ZANDA  LITTLE, ABNER
39     PRINCESS ZANDA  LITTLE, ABNER
88224  PRINCESS ZANDA  LITTLE, ABNER

In [46]:
heros = sorted(df.hero1.unique())

In [65]:
h1c = df.groupby('hero1').count()
h2c = df.groupby('hero2').count()

In [88]:
joined = pd.concat([h1c, h2c], axis=1).fillna(0)

In [89]:
counts = joined.hero1 + joined.hero2

In [150]:
n = 10

In [151]:
super_superheros = counts.sort_values(ascending=False)[:n]

In [152]:
super_superheros[:n]

CAPTAIN AMERICA         16499.0
SPIDER-MAN/PETER PAR    13717.0
IRON MAN/TONY STARK     11817.0
THOR/DR. DONALD BLAK    11427.0
THING/BENJAMIN J. GR    10681.0
WOLVERINE/LOGAN         10353.0
HUMAN TORCH/JOHNNY S    10237.0
SCARLET WITCH/WANDA      9911.0
MR. FANTASTIC/REED R     9775.0
VISION                   9696.0
dtype: float64

In [153]:
df_nn = df.loc[df.hero1.isin(super_superheros.index) & df.hero2.isin(super_superheros.index), ]

In [154]:
df_nn

                       hero1                 hero2
463     IRON MAN/TONY STARK   SCARLET WITCH/WANDA
837     THING/BENJAMIN J. GR       CAPTAIN AMERICA
844     THING/BENJAMIN J. GR      WOLVERINE/LOGAN
847     THING/BENJAMIN J. GR               VISION
855     THING/BENJAMIN J. GR  MR. FANTASTIC/REED R
...                      ...                   ...
573393       CAPTAIN AMERICA  THOR/DR. DONALD BLAK
573828  HUMAN TORCH/JOHNNY S       CAPTAIN AMERICA
574357  SPIDER-MAN/PETER PAR  SCARLET WITCH/WANDA
574359  SPIDER-MAN/PETER PAR       CAPTAIN AMERICA
574386       CAPTAIN AMERICA  SCARLET WITCH/WANDA

[9011 rows x 2 columns]

In [161]:
df_nn.groupby(['hero1', 'hero2']).size().reset_index(name='counts')

               hero1                 hero2  counts
0    CAPTAIN AMERICA       CAPTAIN AMERICA     120
1    CAPTAIN AMERICA  HUMAN TORCH/JOHNNY S      88
2    CAPTAIN AMERICA  IRON MAN/TONY STARK      220
3    CAPTAIN AMERICA  MR. FANTASTIC/REED R      82
4    CAPTAIN AMERICA  SCARLET WITCH/WANDA      186
..               ...                   ...     ...
86  WOLVERINE/LOGAN   SCARLET WITCH/WANDA       17
87  WOLVERINE/LOGAN   SPIDER-MAN/PETER PAR      25
88  WOLVERINE/LOGAN   THING/BENJAMIN J. GR      36
89  WOLVERINE/LOGAN   THOR/DR. DONALD BLAK      18
90  WOLVERINE/LOGAN                VISION       18

[91 rows x 3 columns]